.white-1 {
    background-color: #f0d9b5;
    color: #b58863;
}

.black-1 {
    background-color: #b58863;
    color: #f0d9b5;
}

.highlight1-origin {
    box-shadow: inset 0 0 3px 3px #ffffff;
}
.highlight1-destination {
    box-shadow: inset 0 0 3px 3px #ffffff;
}