.white-1 {
    background-color: #e7f1f1;
}

.black-1 {
    background-color: #acc4ce;
}

.highlight1-origin {
    box-shadow: inset 0 0 3px 3px #729aaa;
}
.highlight1-destination {
    box-shadow: inset 0 0 3px 3px #729aaa;
}