/*! chessboard.js v1.0.0 | (c) 2019 Chris Oakman | MIT License chessboardjs.com/license */

.clearfix-7da63 {
    clear: both;
}

.board-b72b1 {
    border: 2px solid #404040;
    box-sizing: content-box;
}

.square-55d63 {
    float: left;
    position: relative;
    /* disable any native browser highlighting */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.notation-322f9 {
    cursor: default;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    position: absolute;
}

.alpha-d2270 {
    bottom: 1px;
    right: 3px;
}

.numeric-fc462 {
    top: 2px;
    left: 2px;
}