@charset "utf-8";
//todo: let there be a sensible breakpoint and fix the bug when breakpoint is triggered (header expands bottom and breaks layout)
$navbar-breakpoint: 800px;
$dropdown-menu-min-width: 8rem;
// .button:hover {
//     animation: linkAnim .08s ease-in;
//     animation-fill-mode: forwards;
// }

// @keyframes linkAnim {
//     0% {
//         transform: scale(1)
//     }
//     100% {
//         transform: scale(1.01)
//     }
// }