<div id='chess-div'>
    <div id="top_of_board" class="card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <span class="icon">
                        <i id="top_of_board_icon" class="fas fa-2x mt-4"></i>
                    </span>
                </div>
                <div class="media-content">
                    <span class="title is-4" id="top_of_board_name"></span>
                    <span class="title is-7" id="top_of_board_after_name"></span>
                </div>
            </div>
        </div>
    </div>
    <div id='board'>

    </div>
    <div id="bottom_of_board" class="card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <span class="icon">
                        <i id="bottom_of_board_icon" class="fas fa-2x mt-4"></i>
                    </span>
                </div>
                <div class="media-content">
                    <span class="title is-4" id="bottom_of_board_name"></span>
                    <span id="bottom_of_board_after_name"></span>
                </div>
            </div>
        </div>
    </div>
    <div id="bottom_of_chess_div"></div>
</div>