<section class="section">
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="index.html" style="color: inherit">
                <span class="icon is-large">
                    <i class="fas fa-3x fa-chess"></i>
                </span>

                <span class="is-size-2 ml-3"><strong>Chesslearn</strong></span>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu mt-3">
            <div class="navbar-start">
                <a class="navbar-item is-tab" href="openings.html">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-book"></i>
                        </span>
                        <span class="is-size-4">Openings</span>
                    </span>
                </a>

                <a class="navbar-item is-tab" href="puzzles.html">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-puzzle-piece"></i>
                        </span>
                        <span class="is-size-4">Puzzles</span>
                    </span>
                </a>

                <a class="navbar-item is-tab" href="play.html">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-chess-king"></i>
                        </span>
                        <span class="is-size-4">Play</span>
                    </span>
                </a>
            </div>

            <div class="navbar-item">
                <div class="dropdown" id="themes-dropdown">
                    <div class="dropdown-trigger">
                        <button class="button is-size-5" onclick="onThemesButtonClick()">
                            <span class="icon">
                                <i class="fas fa-palette"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                            <div class="dropdown-item">
                                <a id="theme_button_1" class="button">
                                    <img src="img/theme1.png" />
                                </a>
                            </div>

                            <div class="dropdown-item">
                                <a id="theme_button_2" class="button">
                                    <img src="img/theme2.png" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="navbar-item">
                <button class="button is-size-5" onclick="onDarkThemeButtonClick()">
                    <span class="icon">
                        <i class="fas fa-adjust"></i>
                    </span>
                </button>
            </div>
        </div>

        <div class="navbar-end">

        </div>
        </div>
    </nav>
</section>