<div class="buttons are-medium">
    <button id="create-game-button" class="button is-success">Create a game</button>
    <button id="join-game-button" class="button is-info">Join a game</button>
</div>

<div id="beneath_buttons"></div>